  <!-- this is our horazontal navbar -->
  <li><a href="/"> <img src="images/bdpalogo.png" height="25> </a></li>
  <li><a href="/">Home</a></li>
  <li><a href="/bdpahistory">BDPA History</a></li> 
<li><a href="/">Sample form</a></li>
</ul> 
<!-- End navbar -->
<br><br><br>