<!DOCTYPE html>

<html>
 <!-- Include statment has head section -->
<%-include('./partials/head') -%> 
<body>
<!-- Include navigation menu -->
<%-include('./partials/menu') -%>

<h1>Sample data entry</h1>
<form name="Sampleform" action="/formentry"method="POST">
    first Name: <input type="text" name="firstname" id="firstname" required>
    Last Name: <input type="text" name="lastname" id="lastname" required>
    <br><br> Email: <input type="email"nname="email" id="email" required><br>
    Enter a number:<input type="number" name="num1" id="num1" required>
    Enter another number:<input type="number" name="num2" id="num2" required> 
   
    <input type="submit" value="Submit form"

</form>

</body>
</html>