Link<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Welcome to BDPA 2025 </h1>
  <h2> My name is Zhariona </h2>
    <p> This page will be an into to the Hscc program</p>
  <h2> Hyperlinks </h2>
  <ul>
<li> BDPA National <a href="https://www.bdpa.org">Link</a> </li>
<li> BDPA Milwaukee <a href="https://www.bdpamke.org">Link</a> </li>
<li> W3Schools <a href="https://www.w3schools.com">Link</a> </li>
 
</ul
  </body>
</html>
